body {
    background-image: url('/img/background.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-wrapper {
    background-color: #1f1f1fc9 !important;
    width: 100%;
}

.boxed-layout {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    min-height: 100vh;
}