<nav
    class="fixed max-w-[1280px] w-full z-50 bg-brand-dark/95 backdrop-blur-md border-b border-white/5 left-1/2 -translate-x-1/2 shadow-xl">
    <div class="max-w-7xl mx-auto px-4 h-16 flex justify-between items-center text-white">
        <div class="flex items-center gap-2">
            <a href="index.php">
                <img src="./img/microgate2.png" alt="Microgate" class="w-full h-12 object-contain">
            </a>
        </div>
        <!-- <div class="md:flex gap-4 text-sm font-medium">
            <a href="/downloads/rustdesk-host=45.189.178.186,relay=45.189.178.186,key=HVZdrhDAXzAeNSGagXJHLA2lAHgi2aAj9.exe"
                class="flex items-center gap-2 hover:text-gray-400 transition px-3 py-2 border border-white/10 rounded-md hover:bg-white/5">
                <i data-lucide="download" class="w-4 h-4 text-gray-400"></i> Download Suporte
            </a>
        </div> -->

        <div id="menu-overlay" class="fixed inset-0 bg-black/95 hidden z-[90] md:hidden"></div>