<nav
    class="fixed max-w-[1280px] w-full z-50 bg-brand-dark/95 backdrop-blur-md border-b border-white/5 left-1/2 -translate-x-1/2 shadow-xl">
    <div class="max-w-7xl mx-auto px-4 h-16 flex justify-between items-center text-white">
        <div class="flex items-center gap-2">
            <a href="index.php">
                <img src="./img/microgate2.png" alt="Microgate" class="w-full h-12 object-contain">
            </a>
        </div>

<div id="menu-overlay" class="fixed inset-0 bg-black/95 hidden z-[90] md:hidden"></div>